<h3>Form001</h3>

<input type="text" @bind-value="@message" />
<input type="text" @bind-value="@userMessage" />
<input type="button" value="Click aquí" @onclick="ChangeText" />

<div>@message</div>

@code{
    [Parameter]
    public string Message { get; set; }

    string message = "Un contenido";
    string userMessage = "";

    protected override async Task OnInitializedAsync()
    {
        message = Message;
    }

    private void ChangeText()
    {
        message = userMessage + " Manigaaa";
    }
}
